SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=django_catalog_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here
POSTGRES_EXTERNAL_PORT=5432

WEB_PORT=8000

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=your-password-here
