<div class="product-card">
    <a href="{% url 'catalog:product_detail' product.slug %}">
        {% if product.image %}
            <img class="product-card__image" src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <div class="product-card__no-image">Немає фото</div>
        {% endif %}
    </a>
    <div class="product-card__body">
        <p class="product-card__category">{{ product.category.name }}</p>
        <h2 class="product-card__name">
            <a href="{% url 'catalog:product_detail' product.slug %}" class="product-card__link">{{ product.name }}</a>
        </h2>
        <p class="product-card__price">{{ product.price }} $</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post" style="margin-top: 10px;">
            {% csrf_token %}
            <button type="submit" class="btn-update" style="width: 100%;">В кошик</button>
        </form>
    </div>
</div>
